body {
  font-family: 'Barlow';font-size: 22px;
  color: #2c3643;
  background-color: #dbe6ec;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    height: auto;



}



li {
  margin-right: auto;
  margin-left: auto;
}

#title {
  text-align: center;
}

#img-div {
  padding: 50px;
  background-color: rgba(0, 0, 255, 0.1);
}
#img-caption {
  text-align: center;
  font-size: 18px;
}

#tribute-info {
  text-align: center;
}
